<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ web_titles[inventory_hostname] }}</title>
</head>
<body>
  <h1>{{ web_titles[inventory_hostname] }}</h1>
  <p>Backend: {{ inventory_hostname }}</p>
</body>
</html>
